@font-face {
  font-family: "Grtsk";
  src: url("./fonts/GrtskPeta-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Grtsk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
